{{> navbar}}
<br>

<h1>Formulario de Carga</h1>
<a href="/products">Volver al listado</a>
    <div>
        <form action="/products" method="post">
            <input type="text" name="title" id="title">
            <input type="text" name="price" id="price">
            <input type="text" name="thumbnail" id="thumbnail">
            <input type="submit" value="Enviar">
        </form>
    </div>