<form id='messageForm'>
  <input type='email' id='email' placeholder='Type your email' />
  <input type='text' id='message' placeholder='Type your message here...' />
  <button type='button' onclick='addMessage(messageForm)'>Send</button>
</form>